* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

#ui-br,
#ui-tr,
#ui-menu {
  position: absolute;
  outline: none;
  bottom: 0;
  right: 0;
}

#ui-tr {
  top: 0;
  right: 0;
}

#ui-menu {
  bottom: 0;
  left: 22.5%;
}
